html, body, div#app, .main-layout, .main-layout > .splitpanel-vertical {
    height: 100%;
}

.registry-tree {
    min-width: 400px;
}

.main-layout-tab-panel {
    display: flex;
    flex-direction: column;
}

.main-layout-tab-panel > div {
    overflow-y: auto;
}

.code-highlight-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.code-highlight-view {
    display: flex;
    overflow-y: auto;
}

.code-highlight-view > div {
    height: fit-content;
}

.code-highlight-view .code-line-number, .code-highlight-view .code-line {
    height: 18pt;
}

.code-highlight-view .code-line-number {
    padding-left: 10px;
    padding-right: 15px;
}

.code-highlight-view .code-line {
    padding-left:5px;
}

.code-highlight-view .code-line.code-line-lighted {
    background-color: #e5faff;
}

.code-highlight-view .code-line-number.code-line-number-lighted {
    background-color: #98b2b8;
}

.code-highlight-view .code-line-numbers > pre, .code-highlight-view .code-lines > pre {
    overflow: visible;
}

.code-highlight-view .code-line-numbers {
    background-color: #dbdbdb;
}

.code-line-token-keyword, .code-line-token-primitive-type, .code-line-token-boolean-literal {
    color: #000080;
}

.code-line-token-string-literal {
    color: #008000;
}

.code-line-token-number-literal {
    color: #0000FF;
}

.code-line-token-operator {
    font-weight: bold;
}

.code-line-token-local-var-link:hover, .code-line-token-field-link:hover {
    color: #A616C7;
}

.code-line-token-local-var-link, .code-line-token-field-link, .code-line-token-local-var-link:active, .code-line-token-field-link:active {
    color: #660E7A;
}

.code-highlight-view pre {
    font-size:12pt;
    font-family: 'JetBrains Mono NL';
}

.code-line-token-class-link, .code-line-token-field-link, .code-line-token-method-link, .code-line-token-local-var-link {
    text-decoration: underline;
    cursor: pointer;
}

.code-line-token-class-link:hover, .code-line-token-method-link:hover {
    color: #5E6A75;
}

.code-line-token-class-link:active, .code-line-token-method-link:active {
    color: #212529;
}

.code-highlight-tab-panel > * {
    margin-left: 15px;
    margin-bottom: 5px;
}

.code-highlight-tab-panel .form-label {
    margin-bottom: 0px;
    font-size: 0.8rem;
}

.code-highlight-tab-panel select.form-select {
    padding-top: 3px;
    padding-bottom: 3px;
    /* height: 20px; */
    font-size: 0.8rem;
}

.indexer-status-tab {
    padding: 25px;
}